.inner-container {
    background-color: white;
    padding: 25px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.inner-container h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font: bold 15px Arial;
    color: #88eaac;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 14px 0;
}

.inner-container h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font: bold 14px Arial;
    color: #555555;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 14px 0;
}

#left-inner-container {
    display: inline-block;
    background-color: white;
    padding: 25px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 49%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#right-inner-container {
    display: inline-block;
    margin-top: 0px;
    background-color: white;
    padding: 25px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 49%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    float: right;
}

.inner-container button {
    margin-bottom: 1px;
    border: 1px solid #e5e5e527;
    display: block;
    width: 100%;
    padding: 14px 0;
    border-radius: 5px;
    background-color: #ffffff;
    font: lighter 12px Arial;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.inner-container button:hover {
    background-color: #e5e5e5;
    border-radius: 5px;
    cursor: pointer;
}

.inner-container button:focus {
    background-color: #67be87;
    border-radius: 5px;
    cursor: pointer;
}

.inner-container button:disabled {
    background-color: #f0f0f0;
    color: #ababab;
    cursor: auto;
}
