#root {
    margin: 0;
}

header {
    padding: 0 25px;
}

header img {
    float: left;
    width: 35px;
    height: 35px;
    padding: 23px 10px 0 0;
}

header h1 {
    font: lighter 32px Futura;
    text-shadow: 0px 3px 5px #ffffff;
    color: #88eaac;
    display: inline-block;
}

nav {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: white;
    text-align: center;
    padding: 12px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

nav a {
    font: bold 14px Arial;
    color: #67be87;
    text-decoration: none;
    padding: 5px 25px;
}

nav a:hover {
    cursor: pointer;
    color: #88eaac;
}

main {
    display: flex;
    padding: 25px 0;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: white;
    padding: 25px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: auto;
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.react-calendar {
    background-color: #ffffff;
    font: bold smaller Arial;
}

.react-calendar button {
    background-color: #88eaac;
    color: #ffffff;
    font: bold medium Arial;
    border-radius: 3px;
    border-style: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    margin: 5px;
    padding: 20px;
    justify-content: center;
}

.react-calendar__month-view__weekday {
    color: pink;
}
